---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import IconProgramming from "../components/icons/IconProgramming.astro";
import PageLayout from "../layouts/PageLayout.astro";
import About from "./about.astro";
import Contact from "./contact.astro";
import Projects from "./projects.astro";
import i18n from "../i18n.js";

const cookies = Astro.request.headers.get("cookie") || "";

if (cookies) {
  const language = cookies
    ?.split("; ")
    .find((row) => row.startsWith("translate="))
    ?.split("=")[1];
  i18n.changeLanguage(language);
}

const canonical = new URL(`/`, Astro.site);

const title = "Juan Gomez";
const description = "Sometimes I write code. Other times, I rewrite code until it works perfectly.";
---

<PageLayout meta={{ title, description, canonical }}>
  <Header />
  <section class="flex flex-col justify-center m-auto">
    <IconProgramming />

    <p class="text-2xl text-center mt-10 opacity-70">{i18n.t("index.title")}</p>
    <h1 class="text-5xl font-bold text-center mt-5 text-custom">{i18n.t("index.subtitle")}</h1>

    <p class="text-xl text-center mt-5 w-2/3 mx-auto opacity-70">{i18n.t("index.description")}</p>
  </section>

  <About showHeaderAndFooter={false} />
  <Projects showHeaderAndFooter={false} />
  <Contact showHeaderAndFooter={false} />

  <Footer />
</PageLayout>
