---
import IconProgramming from "../components/icons/IconProgramming.astro";
import PageLayout from "../layouts/PageLayout.astro";

const canonical = new URL(`/`, Astro.site);

const title = "Juan Gomez";
const description = "Sometimes I write code. Other times, I rewrite code until it works perfectly.";
---

<PageLayout meta={{ title, description, canonical }}>
  <section class="flex flex-col justify-center m-auto">
    <IconProgramming />

    <p class="text-2xl text-center mt-10 text-opacity-70 text-white">Hey there 👋</p>
    <h1 class="text-5xl font-bold text-center mt-5 text-custom">I'm Juan Carlos Gomez</h1>

    <p class="text-xl text-center mt-5 w-2/3 mx-auto text-white opacity-70">
      I am in my last semester of telematics engineering at Universidad Distrital, I am a passionate
      and dedicated software developer focused on web development.
    </p>
  </section>
</PageLayout>
