<section class="relative lg:w-2/4 mx-auto rounded-md overflow-hidden">
  <video id="myVideo" autoplay loop muted>
    <source src="/img/background.webm" type="video/webm" />
  </video>

  <img
    class="absolute w-52 bottom-0 left-2/4 -translate-x-2/4"
    src="/img/juanGomez.png"
    alt="Logo"
  />
</section>

<script is:inline>
document.querySelector("#myVideo").playbackRate = 0.5;
</script>
