---
import BaseHead from "../components/BaseHead.astro";
import BasicScripts from "../components/BasicScripts.astro";
import "../styles/base.css";

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {...meta} />

    <script is:inline>
      const classList = document.documentElement.classList;
      const localStorageTheme = localStorage.getItem("theme");

      if (
        localStorageTheme === "dark" ||
        (!localStorageTheme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        classList.add("dark");
      } else {
        classList.remove("dark");
      }
    </script>
  </head>

  <body
    class="flex flex-col antialiased bg-white text-gray-900 dark:text-slate-300 dark:bg-slate-900 h-screen"
  >
    <slot />
    <BasicScripts />
  </body>
</html>
